body {
  font-family: "Open Sans Light";
}
#tabbed {
  display: block;
}
#tabbed ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#tabbed #mBtns {
  display: block;
}
#tabbed #mBtns li {
  display: inline-block;
  border: 1px solid #ababab;
  border-bottom: 0;
  cursor: pointer;
  padding: 2px 10px;
}
#tabbed #mBtns li:hover {
  background-color: #aaa;
}
#tabbed #mTabs {
  display: block;
  border: 1px solid #ababab;
}
#tabbed #mTabs li {
  display: none;
  padding: 10px;
}
#tabbed #mTabs li.visibleElement {
  display: block;
}
